<%#= form_for [@book, @book_comment] do |f| %>
<%= form_with(model: [book, book_comment]) do |f| %>
  <div class="row">
      <div class="col-sm-11">
          <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
      </div>
  </div>
  <%= f.submit "送信", class: "btn btn-default  pull-right col-sm-1" %>
<% end %>