<head>
  <style>
    
    .error-prohibited,.alert{
      color:#FD1716;
    }
    .alert ul{
      list-style-type: disc;
      font-size: 13px;
      line-height: 18px;
      margin-left: 33px;
    }
    .error-prohibited{
      font-size: 24px;
    }
  </style>
</head>

<body>
  <% if model.errors.any? %>
    <div class="error_explanation">
      <h2 class="error-prohibited">
        <%= pluralize(model.errors.count, "error") %> prohibited this user from being saved:
      </h2>
      <div class="alert">
        <ul>
          <% model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</body>